html,
body {
    background-color: white;
    color: #38322f;
    width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: center;
    text-transform: none;
}

a {
    color: #e0b50b;
}
